body {
  text-align: center;
  background-image: url('/images/stardust/stardust.png')
}

h1 {
  color: white;
  background-color: black;
  opacity: .5;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-family: "Amatic SC", monospace;
  font-size: 48px;
}

ul, form, p {
  font-family: "Amatic SC", monospace;
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-family: "Amatic SC", monospace;
  font-weight: bold;
  font-size: 48px;
}

#edit, #delete {
  font-family: "Amatic SC", monospace;
  font-weight: bold;
  font-size: 24px;
}

#description, #new {
  font-family: "Amatic SC", monospace;
  font-size: 32px;
  color: white;
  opacity: .5;
}
