<h1>Penney's got some SKILLZ yo!</h1>

<div id="dashboard" class="container-fluid">
  <div id="mad-skillz">
    <p>
      <a id="intro" href="/skills">See all the mad skillz!</a>
    </p>
  </div><br/>
  <div id="new-skill">
    <a id="intro" href="/skills/new">Add a NEW sweet skill!</a>
  </div>
</div>
