<h1>Penney's got some SKILLZ yo!</h1>
  <div id="dashboard" class="container-fluid">
   <div id="mad-skillz">
     <a href="/skills">See all the mad skillz!</a>
   </div><br/>
   <div id="new-skill">
     <a href="/skills/new">Add a NEW sweet skill!</a>
   </div>
</div>


<!-- %h1 Penney's got some SKILLZ yo!

.container-fluid#dashboard
  #mad-skillz
    = link_to 'See all the mad skillz!', skills_url
    %br/
  #new-skill
    = link_to 'Add a NEW sweet skill!' -->
