<form action="/skills" method="post">
  <p>What is Penney's new sweet skill?</p>
  <input type="text" name="skill[title]"><br/><br/>
  <textarea name="skill[description]"></textarea><br/>
  <input type="submit"/>
</form>
