<h1>What is Penney's new sweet skill?</h1>

<form action="/skills" method="post">
  <p id="new">Add a sweet title and a rad description here:</p>
  <input type="text" name="skill[title]"><br/><br/>
  <textarea name="skill[description]"></textarea><br/>
  <input type="submit" value="Submit"/>
</form>
