<h1><%= @skill.title %></h1>

<p id="description">
  <%= @skill.description %>
</p>

<img src="https://robohash.org/<%= @skill.title %>.png"><br/><br/>

<p id="description"><%= @skill.title %>-bot</p>
